.bounce {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0) translateX(50px) rotate(10deg) scale(1);
  }
  50% {
    transform: translateY(-50px) translateX(0) rotate(0deg) scale(1.2);
  }
  100% {
    transform: translateY(0px) translateX(-50px) rotate(-10deg) scale(1);
  }
}
