.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: #8055a4;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.heading-text {
  font-family: 'Azonix';
  color: #fff;
}

.authenticator-container {
  display: flex;
  flex: 1;
}

.authenticator-component {
}

.welcome-text {
  font-family: 'Azonix';
  color: #fff;
  font-size: 1.5rem;
}

.amplify-button[data-variation='link'] {
  color: #8055a4;
}

.amplify-button[data-variation='primary'] {
  background-color: #8055a4;
  border-color: 'grey';
  color: #fff;
}

.amplify-tabs-item[data-state='active'] {
  color: #8055a4;
  background-color: 'grey';
  transition-property: none;
  border-color: #000;
}

.logo {
  max-width: 250px;
  max-height: 250px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0) translateX(50px) rotate(10deg) scale(1);
  }
  50% {
    transform: translateY(-50px) translateX(0) rotate(0deg) scale(1.2);
  }
  100% {
    transform: translateY(0px) translateX(-50px) rotate(-10deg) scale(1);
  }
}
