.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: url('./assets/images/background.png');
  background-position: center;
  background-size: cover;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-text {
  font-family: 'Azonix';
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.amplify-button[data-variation='link'] {
  color: #8055a4;
}

.amplify-button[data-variation='primary'] {
  background-color: #8055a4;
  border-color: 'grey';
  color: #fff;
}

.amplify-tabs-item[data-state='active'] {
  color: #8055a4;
  background-color: 'grey';
  transition-property: none;
  border-color: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
}

.logo {
  min-width: 100px;
  max-width: 200px;
}
